@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1 style="text-align: center">The Verve Group - Technical Test</h1>
    <h2 style="text-align: center">Luke Beatty</h2>
    <p class="lead" style="text-align: center">Enter the GitHub Username of the user you would like to see the information of.</p>
</div>

@Html.Action("RenderForm")

@if (Convert.ToBoolean(TempData["Submitted"]))
{
    @model The_Verve_Group___Luke_Beatty.Models.GithubUser
    <div style="text-align:center;">
        <h4>Searching user: @Model.Login</h4>
    </div>

    <h3>-- User Details --</h3>

    <div>
        <p><strong>Name: </strong>@Model.Name</p>
    </div>
    <div>
        <p><strong>Location: </strong>@Model.Location</p>
    </div>
    <div>
        <p><strong>Avatar: </strong></p>
        <img src="@Model.Avatar_URL" alt="avatar" width="200" height="200"/>
    </div>

    <h3>-- Repositories --</h3>

    if (Model.Repos != null)
    {
        <table style="width: 100%">
            <thead>
                <tr>
                    <td>
                        <div>
                            <strong>Name</strong>
                        </div>
                    </td>
                    <td>
                        <div>
                            <strong>Full Name</strong>
                        </div>
                    </td>
                    <td>
                        <div>
                            <strong>Description</strong>
                        </div>
                    </td>
                    <td>
                        <div>
                            <strong>Stargazers</strong>
                        </div>
                    </td>
                    <td>
                        <div>
                            <strong>Repo URL</strong>
                        </div>
                    </td>
                </tr>
            </thead>
            <tbody>
                @foreach (The_Verve_Group___Luke_Beatty.Models.GithubRepo repo in Model.Repos)
                {
                    <tr>
                        <td>
                            <div>
                                <a href="@repo.Html_URL">@repo.Name</a>
                            </div>
                        </td>
                        <td>
                            <div>
                                @repo.Full_Name
                            </div>
                        </td>
                        <td>
                            <div>
                                @repo.Description
                            </div>
                        </td>
                        <td>
                            <div>
                                @repo.Stargazers_Count
                            </div>
                        </td>
                        <td>
                            <div>
                                @repo.Html_URL
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <div>
            This user has no repositorys.
        </div>
    }
}

<style>
    table, th, td {
        border: 1px solid black;
        border-collapse: collapse;
    }
</style>